@mixin flexprop($dir) {
    display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: $dir;
}
@mixin  imageprop {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@mixin dropdown{
    height: 5rem;
    overflow: hidden;
}

@mixin circularAvatar{
    height: 50px;
    width: 50px;
    border-radius: 5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

