@import "common";
@import "var";


#footer{
    width: 100%;
    height: auto;
    background-color: $c-color;
    color: white;  
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 5rem;

    .footer-container{ 
        height: 25rem;
        width: 65%;
     


        .f-box-1{

        height: 20rem;
        width: 100%;
       
        display: flex;
        justify-content: center;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
        
        .social{
            width: 11rem;

            display: flex;
            align-items: center;
            justify-content: center;
            justify-content: space-between;
             width: 15%;

            a{
             text-decoration: none;
             color: white;
             .uil{
                 width: 9rem;
                 font-size: 1.6rem;
             }
            }
             
           
        }

        .f-detail{
        padding-top: 4rem;
        display: flex;
         justify-content: center;
         align-items: center;
         justify-content: space-evenly;
         h1{
             font-weight: bold;

             p{  
                 font-weight: 100;
                 margin-top: 1rem;
                 font-size: 1rem;
             }
         }
        }

        .f-content{
            display: flex;
            flex-direction: row;
            width: 22rem;
            justify-content: space-evenly;
            align-items: center;         
          
        }
        }

        .f-box-2{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center  ;
            p{
              color: rgb(162, 145, 177);
            }
        }        

    }
}


@media (max-width: 900px){
    #footer{
        height: 20rem;
        .footer-container{ 
         width: 80%;    
        }
    }
}


@media (max-width: 750px){
    #footer{
        margin-top: 5rem;
        height: 40rem;
        .footer-container{ 
           
            height: 35rem;
            width: 80%;
            .f-box-1{
            height: 70%;
            width: 100%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: space-between;
            // justify-content: flex-start;
           
            
            .f-detail{
            padding-top: 0;
            height: auto;
            }
            
            .f-content{
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-around;
                height: 10rem;
               
            }

            .social{
             width: 40%;
             justify-content: space-between;
            }
            }

            .f-box-2{
                // background-color: green;
                height: 8rem;
            }
        }
    }
}

