@import "common";

.newproject{

    width: 100%;
    height: 25rem;
    margin-top: 2rem;
    @include flexprop(row);
    
    .new-projectbox{
     
     border-radius: .5rem;
     width: 60%;
     height: 18rem;
     
     background-color: #705EDC  ;
     @include flexprop(row);
     flex-wrap: nowrap;
     .project-leftbox{
      color: white;
      padding: 3rem 0 2rem 2rem;
      flex: 3; 
      height: 100%;
      .btn-primary{
          background-color: #fff;
          color: #705EDC;
          padding: 1.1rem 1rem 1.1rem 1rem;
          font-size: 20px;
          border-radius: 10px;
          border-color: #705EDC;
          
      }
     }

     .project-rightbox{
         flex: 3;
         position: relative;
         height: 100%;
         &::before{
            content: "";
            width: 100%;
            height: 100%;
            background-image: url(../image/smoking_girl.png);
            background-size: cover;
            background-position: center -3rem; 
            background-repeat: no-repeat;
            position: absolute;            
         }
         height: 100%;
     }
         
    }
}

@media (max-width: 1180px){
    .newproject{
      
        .new-projectbox{
            width: 100%;
            height: 20rem;
            .project-leftbox{
                padding: 5rem 0 2rem 3rem;

            }
        }

    
    }
}


@media (max-width: 700px){
    .newproject{
        .new-projectbox{
            .project-leftbox{
                padding: 2.8rem 0 2rem 2rem;

            }
            .project-rightbox{ 
                flex: 3;
                position: relative;
                height: 100%;
                &::before{
                   content: "";
                   width: 100%;
                   height: 100%;
                   background-image: url(../image/smoking_girl.png);
                   background-size: cover;
                   background-position: center -2rem; 
                   background-repeat: no-repeat;
                   position: absolute;            
                }
                height: 100%;
                
            }
        }
    }
}


@media (max-width: 500px){
    .newproject{
        height: 45rem;
        
        .new-projectbox{
            height: 40rem;
            width: 100%;
            @include flexprop(column);
            .project-leftbox{
                width: 100%;
                max-height: 15rem;

            }
            .project-rightbox{ 
                width: 100%;
                overflow: hidden;                
                position: relative;
                height: 100%;
                &::before{
                   content: "";
                   width: 100%;
                   height: 100%;
                   background-image: url(../image/smoking_girl.png);
                   background-size: contain;
                   background-position: center 2rem; 
                   transform: scale(1.5);   //zooming image
                   background-repeat: no-repeat;
                   position: absolute;            
                }
                height: 100%;
                
            }
        }
    }
}