@import "common";
@import "var";
.qualification{

    width: 100%;
    height: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: 3rem;
h2,p{
 text-align: center;
    }
    .qual-box{
        width: 100%;
       display: flex;
        justify-content: center;
        margin-top: 3rem;
        }
        .inside-qualbox{
            width: 100%;
            height: auto;
            margin-top: 2rem;
           
           display: flex;
           justify-content: center;
           .education{
               width: 20%;
               height: 20rem;
             @include flexprop(column);
             justify-content: flex-start;
             .ed-box2{
                 margin-top: 5rem;

             }
              .ed-box,.ed-box2{
                   h4{
                       font-size: 1.2rem;
                       font-weight:600;
                   }
                   p{
                       font-size: .8rem;
                   }
               }
            }
           .svg{
               width: 3%;
           height: 20rem;
       #svg{
                   height: 18rem;
                }
           }
           .work{
            width: 20%;
            height: 22rem;
            @include flexprop(column);
      justify-content: flex-end;
     .wo-box{
         margin-bottom: 5rem;
     }

     .wo-box2{
        margin-bottom: -1rem;
     }
 .wo-box,.wo-box2{
            height: auto;
                h4{
                    font-size: 1.2rem;
                    font-weight: 600;
                }
                p{
                    font-size: .8rem;
                }
            }

         
           }
}
}


@media(max-width: 900px){
    .qualification{  
    .inside-qualbox{

    .education{
    
    width: 30%;
       }
    
    .work{
 
    width: 30%;
    }

       }

       
    }
   }



@media (max-width: 750px) {
    .qualification{

    
        .inside-qualbox{
 
    
    
        .education{
       
        width: 50%;
           }
        
        .work{

        width: 50%;
        }    
           }           
        }
       }


@media (max-width: 500px){
    .education{
      
    width: 50%;
    .ed-box2{
        text-align: center;
    }

  }
}
    






