@import "var";

.services{
    height: auto;
    width: 100%;
    margin-top: 6%;
   
    text-align: center;

   

    .serv-container{
        margin-top: 3;
        width: 100%;
        height: 22rem;
       
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        padding: 0rem 9rem 0rem 9rem;

        .serv{
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            width: 15rem;
           
            height: 20rem;
            margin: .6rem;
            display: flex;
            align-items: center;
            padding-left: 2rem;
            padding-top: 5rem;


            .data{  

              .uil{
                  color: #6C55E0;
              }  
              
              h3{
                  margin-top: 2rem;
                  font-weight: 400;
                  
              }
              
              p{
                  margin-top: 1rem;
              }
              text-align: left;
            }
        }
    }
}

.space{
    width: 100%;
    height: 10rem;
}

@media(max-width: 900px){

.services{
 .serv-container{
     width: 100%;
     height: 45rem;
     display: flex;
     justify-content: flex-start;
     flex-direction: row;
     align-items: center;
     flex-wrap: wrap;
     padding: 0rem 1rem 0rem 2rem;  

     .serv{
       
         width: 40%;
     }  
 }
}
}


@media(max-width: 500px){
   .services{
       
       .serv-container{
           height: 34rem;
           .serv{
            padding-top: 4rem;
            padding-left: 1rem;
               height: 15rem;
               .data{
                h3{
                    font-size: 1.5rem;
                }
                p{
                    margin-top: 1rem;
                }
               }
              
           }
       }
   }
}



