@import "common";
@import "var";

@media (max-width:1050px) {
    .home {
        width: 100%;
        height: 35vh;
    }
}

@media (max-width:900px) {
    .header {
        display: none;
    }

    // Hero section Start *****************************

    .home {
        width: 100%;
        height: 40vh;

        .all-data {
            width: 100%;
            height: auto;
            @include flexprop(row);
            justify-content: space-evenly;
        }

        .intro {
            width: 50%;
            height: auto;
            margin-left: 2rem;

            h5 {
                display: none;
            }
        }

        .profile-pic {
            width: 90%;
        }
    } 

    //   Mobile menu start*****************************888
    .mob-bar {
        width: 100%;
        height: auto;
        position: fixed;
        bottom: 0;
        display: block;
        z-index: 1;

        .showbox {
            position: relative;
            overflow: hidden;
            z-index: 1;

            .show-content {
                width: 100%;
                height: 15rem;
                transform: translateY(15rem);
                background-color: $b-color;
                z-index: 0;
                @include flexprop(row);
                justify-content: space-evenly;
                flex-wrap: wrap;
                a{
                    text-decoration: none;
                }
                .box {
                    width: 14rem;
                    height: auto;
                    text-align: center;

                    h2 {
                        margin: .5rem;
                    }
                }
            }
        }

        .bar-content {
            width: 100%;
            height: 5rem;
            background-color: $b-color;
            z-index: 3;
            @include flexprop(row);
            justify-content: space-between;

            h1 {
                margin-left: 1.5rem;
                font-size: 1.9rem;
            }

            .box {
                padding: 2rem;

                #app-btn {
                    font-size: 2.5rem;
                    margin: 1rem;
                }
            }
        }
    }

    // About start   ***********************************
    .About {
        .about-content {
            .aboutleft-side {
                // background-color: aqua;
                .imgbox {
                    width: 80%;
                    background-color: orange;
                    height: 15rem;
                    border-radius: .3rem;
                    // background-image: url(anandonbridge.jpg);
                    @include imageprop;
                    margin-left: 1rem;
                }
            }

            .aboutright-side {
                p {
                    width: 20rem;
                }

                .experience-box {
                    width: 100%;
                }
            }
        }
    }

    // ******************Skill start
    .skill {
        margin-top: 2rem;

        .skill-box {
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: repeat(2, 400px);
            gap: .2rem;
            grid-row-gap: 1.5rem;
            padding: 3rem 0rem 0rem 0rem;

            .sbox {
                h3 {
                    display: flex;
                    font-size: 1.2rem;
                    justify-content: space-evenly;
                }

                .progress-box {
                    width: 90%;
                    padding: 1rem 1rem 0rem 3rem;
                }
            }
        }
    }
}

@media (max-width:760px) {
    .skill {
        .skill-box {
            display: grid;
            grid-template-columns: repeat(2, 300px);
            gap: .1rem;
            grid-row-gap: 1.5rem;
            padding: 3rem 0rem 0rem 2rem;
        }
    }
}
@media(max-width:600px){
    .skill {
        margin-top: 2rem;

        .skill-box {
            display: grid;
            grid-template-columns: repeat(1, 600px);
            gap: .1rem;
            grid-row-gap: 1.5rem;
            padding: 3rem 0rem 0rem 0rem;

            .sbox {
              h3{
                    font-size: 1.5rem;
                }
                 .progress-box {
                    width: 90%;
                    padding: 1rem 1rem 0rem 9rem;
                }
            }
        }
    }
}
@media (max-width:500px) {

    // Hero section Start *****************************
    .home {
        width: 100%;
        height: 100%;

        .all-data {
            width: 100%;
            height: auto;
            margin: 3rem 0 0 1rem;
            @include flexprop(column-reverse);

            .intro {
                width: 100%;
                height: auto;
                margin-top: 2rem;

                .btn {
                    background-color: $c-color;
                    border: 1px solid transparent;
                    font-size: 2rem;
                    margin-top: 2rem;
                }
            }

            .profile-pic {
                width: 90%;
            }
        }
    }

    //   Mobile menu start*****************************

    .mob-bar {
        .showbox {
            .show-content {
                .box {
                    width: 8rem;
                    height: auto;
                    text-align: center;

                    .fas {
                        color: $t-color;
                    }

                    h2 {
                        margin: .5rem;
                        font-size: 1.2rem;
                        color: $t-color;
                    }
                }
            }
        }
    }

    // about STart ****************************************************
    .About {
        width: 100%;
        height: auto;

        .about-content {
            display: grid;
            grid-template-columns: repeat(1, 1fr);

            .aboutleft-side {
                .imgbox {
                    width: 60%;
                }
            }

            .aboutright-side {
                padding: 1rem 0rem 0rem 2rem;

                p {
                    width: 22rem;

                }

                .experience-box {
                    width: 90%;
                    height: auto;

                    .exp {
                        width: 2rem;

                        p {
                            font-size: .9rem;
                        }
                    }
                }
        #but {
                    background-color: $c-color;
                }
          .space {
                    display: block;
                    width: 3rem;
                    height: 6rem;
                }
            }
        }
    }
.skill {
        margin-top: 0rem;
 .skill-box {
            display: grid;
            grid-template-columns: repeat(1, 400px);
            gap: .1rem;
            grid-row-gap: 1.5rem;
            padding: 3rem 0rem 0rem 0rem;
  .sbox {
               .progress-box {
                    width: 90%;
                    padding: 1rem 1rem 0rem 4rem;
                }
            }
        }
    }

}







