.qualification {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 3rem;
}

.qualification h2, .qualification p {
  text-align: center;
}

.qualification .qual-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3rem;
}

.qualification .inside-qualbox {
  width: 100%;
  height: auto;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.qualification .inside-qualbox .education {
  width: 20%;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.qualification .inside-qualbox .education .ed-box2 {
  margin-top: 5rem;
}

.qualification .inside-qualbox .education .ed-box h4, .qualification .inside-qualbox .education .ed-box2 h4 {
  font-size: 1.2rem;
  font-weight: 600;
}

.qualification .inside-qualbox .education .ed-box p, .qualification .inside-qualbox .education .ed-box2 p {
  font-size: .8rem;
}

.qualification .inside-qualbox .svg {
  width: 3%;
  height: 20rem;
}

.qualification .inside-qualbox .svg #svg {
  height: 18rem;
}

.qualification .inside-qualbox .work {
  width: 20%;
  height: 22rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.qualification .inside-qualbox .work .wo-box {
  margin-bottom: 5rem;
}

.qualification .inside-qualbox .work .wo-box2 {
  margin-bottom: -1rem;
}

.qualification .inside-qualbox .work .wo-box, .qualification .inside-qualbox .work .wo-box2 {
  height: auto;
}

.qualification .inside-qualbox .work .wo-box h4, .qualification .inside-qualbox .work .wo-box2 h4 {
  font-size: 1.2rem;
  font-weight: 600;
}

.qualification .inside-qualbox .work .wo-box p, .qualification .inside-qualbox .work .wo-box2 p {
  font-size: .8rem;
}

@media (max-width: 900px) {
  .qualification .inside-qualbox .education {
    width: 30%;
  }
  .qualification .inside-qualbox .work {
    width: 30%;
  }
}

@media (max-width: 750px) {
  .qualification .inside-qualbox .education {
    width: 50%;
  }
  .qualification .inside-qualbox .work {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .education {
    width: 50%;
  }
  .education .ed-box2 {
    text-align: center;
  }
}

.services {
  height: auto;
  width: 100%;
  margin-top: 6%;
  text-align: center;
}

.services .serv-container {
  margin-top: 3;
  width: 100%;
  height: 22rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 0rem 9rem 0rem 9rem;
}

.services .serv-container .serv {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 15rem;
  height: 20rem;
  margin: .6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2rem;
  padding-top: 5rem;
}

.services .serv-container .serv .data {
  text-align: left;
}

.services .serv-container .serv .data .uil {
  color: #6C55E0;
}

.services .serv-container .serv .data h3 {
  margin-top: 2rem;
  font-weight: 400;
}

.services .serv-container .serv .data p {
  margin-top: 1rem;
}

.space {
  width: 100%;
  height: 10rem;
}

@media (max-width: 900px) {
  .services .serv-container {
    width: 100%;
    height: 45rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0rem 1rem 0rem 2rem;
  }
  .services .serv-container .serv {
    width: 40%;
  }
}

@media (max-width: 500px) {
  .services .serv-container {
    height: 34rem;
  }
  .services .serv-container .serv {
    padding-top: 4rem;
    padding-left: 1rem;
    height: 15rem;
  }
  .services .serv-container .serv .data h3 {
    font-size: 1.5rem;
  }
  .services .serv-container .serv .data p {
    margin-top: 1rem;
  }
}

.overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.363);
  position: fixed;
  top: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.overlay .overlay-content {
  width: 35%;
  height: 18rem;
  border-radius: .5rem;
  background-color: white;
}

.overlay .overlay-content .heading-data {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem;
}

.overlay .overlay-content .heading-data .fa {
  width: 2rem;
  color: black;
}

.overlay .overlay-content .skill-data {
  padding-left: 1rem;
}

@media (max-width: 900px) {
  .overlay .overlay-content {
    width: 50%;
    height: 17rem;
  }
}

@media (max-width: 500px) {
  .overlay .overlay-content {
    width: 80%;
    height: 17rem;
  }
}

.portfolio {
  width: 100%;
  height: auto;
  text-align: center;
}

.portfolio .slider {
  width: 100%;
  height: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio .slider .uil-angle-left, .portfolio .slider .uil-angle-right {
  font-size: 5rem;
  margin: 1rem;
}

.portfolio .slider .slider-data {
  padding-left: 2rem;
  width: 50%;
  overflow: hidden;
  height: 15rem;
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio .slider .slider-data .slid-but {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio .slider .slider-data .image-box {
  width: 50%;
}

.portfolio .slider .slider-data .image-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio .slider .slider-data .text-box {
  width: 50%;
  height: 100%;
  width: 50%;
  text-align: left;
  padding: 2rem;
}

.portfolio .slider .slider-data .text-box h1 {
  font-weight: bold;
}

.portfolio .slider .slider-data .text-box .btn {
  background-color: #6C55E0;
  border: none;
}

.portfolio .dots {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio .dots .dot1, .portfolio .dots .dot2, .portfolio .dots .dot3 {
  width: 12px;
  height: 12px;
  border-radius: 5rem;
  background-color: #838385;
  margin-left: 1rem;
}

@media (max-width: 900px) {
  .portfolio .slider .slider-data {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .portfolio .slider {
    height: auto;
  }
  .portfolio .slider .uil-angle-left, .portfolio .slider .uil-angle-right {
    font-size: 4rem;
    margin: .1rem;
  }
  .portfolio .slider .slider-data {
    padding-left: 1rem;
    width: 100%;
    height: 25rem;
  }
  .portfolio .slider .slider-data .slid-but {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio .slider .slider-data .slid-but .image-box {
    width: 100%;
    height: auto;
  }
  .portfolio .slider .slider-data .slid-but .image-box #img {
    width: 100%;
    height: 100%;
  }
  .portfolio .slider .slider-data .slid-but .text-box {
    height: auto;
    width: 100%;
  }
}

.about_me {
  width: 100%;
  height: 20rem;
  background-color: red;
}

.newproject {
  width: 100%;
  height: 25rem;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.newproject .new-projectbox {
  border-radius: .5rem;
  width: 60%;
  height: 18rem;
  background-color: #705EDC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.newproject .new-projectbox .project-leftbox {
  color: white;
  padding: 3rem 0 2rem 2rem;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  height: 100%;
}

.newproject .new-projectbox .project-leftbox .btn-primary {
  background-color: #fff;
  color: #705EDC;
  padding: 1.1rem 1rem 1.1rem 1rem;
  font-size: 20px;
  border-radius: 10px;
  border-color: #705EDC;
}

.newproject .new-projectbox .project-rightbox {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  position: relative;
  height: 100%;
  height: 100%;
}

.newproject .new-projectbox .project-rightbox::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../image/smoking_girl.png);
  background-size: cover;
  background-position: center -3rem;
  background-repeat: no-repeat;
  position: absolute;
}

@media (max-width: 1180px) {
  .newproject .new-projectbox {
    width: 100%;
    height: 20rem;
  }
  .newproject .new-projectbox .project-leftbox {
    padding: 5rem 0 2rem 3rem;
  }
}

@media (max-width: 700px) {
  .newproject .new-projectbox .project-leftbox {
    padding: 2.8rem 0 2rem 2rem;
  }
  .newproject .new-projectbox .project-rightbox {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    position: relative;
    height: 100%;
    height: 100%;
  }
  .newproject .new-projectbox .project-rightbox::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../image/smoking_girl.png);
    background-size: cover;
    background-position: center -2rem;
    background-repeat: no-repeat;
    position: absolute;
  }
}

@media (max-width: 500px) {
  .newproject {
    height: 45rem;
  }
  .newproject .new-projectbox {
    height: 40rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .newproject .new-projectbox .project-leftbox {
    width: 100%;
    max-height: 15rem;
  }
  .newproject .new-projectbox .project-rightbox {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 100%;
    height: 100%;
  }
  .newproject .new-projectbox .project-rightbox::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../image/smoking_girl.png);
    background-size: contain;
    background-position: center 2rem;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    background-repeat: no-repeat;
    position: absolute;
  }
}

.testimonial {
  height: auto;
  width: 100%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial .testimonial-container {
  width: 100%;
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial .testimonial-container .testimonial-boxes {
  height: 11rem;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.testimonial .testimonial-container .testimonial-boxes .box {
  scroll-snap-align: start;
  margin: 1rem;
  height: 15rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 47%;
      flex-basis: 47%;
}

.testimonial .testimonial-container .testimonial-boxes .box .client-detail {
  width: 100%;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.testimonial .testimonial-container .testimonial-boxes .box .client-detail .star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: .8rem;
  color: #6c55e0a8;
}

.testimonial .testimonial-container .testimonial-boxes .box .client-detail .client-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonial .testimonial-container .testimonial-boxes .box .client-detail .client-name h4 {
  font-size: 1rme;
  text-align: left;
}

.testimonial .testimonial-container .testimonial-boxes .box .client-detail .client-name p {
  font-size: 1rem;
  text-align: left;
  color: rgba(63, 63, 63, 0.801);
}

.testimonial .testimonial-container .testimonial-boxes .box .client-detail .client-name .img {
  background-image: url(../image/slider1.jpg);
  height: 50px;
  width: 50px;
  border-radius: 5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 1rem;
}

.testimonial .testimonial-container .testimonial-boxes .box h3 {
  font-size: 1rem;
  text-align: left;
  padding-right: 2rem;
}

.testimonial .testimonial-container .testimonial-boxes::-webkit-scrollbar {
  display: none;
}

@media (max-width: 900px) {
  .testimonial .testimonial-container .testimonial-boxes {
    width: 80%;
  }
  .testimonial .testimonial-container .testimonial-boxes .box {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
}

@media (max-width: 500px) {
  .testimonial .testimonial-container .testimonial-boxes {
    width: 80%;
  }
  .testimonial .testimonial-container .testimonial-boxes .box {
    -ms-flex-preferred-size: 95%;
        flex-basis: 95%;
  }
  .testimonial .testimonial-container .testimonial-boxes .box h3 {
    font-size: .8rem;
  }
  .testimonial .testimonial-container .testimonial-boxes .box .client-detail .client-name h4 {
    font-size: 1rem;
  }
  .testimonial .testimonial-container .testimonial-boxes .box .client-detail .client-name h4 p {
    font-size: .8rem;
  }
}

.contact {
  height: auto;
  width: 100%;
  text-align: center;
}

.contact .contact-container {
  width: 100%;
  height: 35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .contact-container .con-left-box {
  height: 25rem;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .contact-container .con-left-box .email h2 {
  text-align: left;
}

.contact .contact-container .con-left-box .email h2 p {
  width: 4.5rem;
  text-align: left;
}

.contact .contact-container .con-left-box .box {
  width: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: .5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contact .contact-container .con-left-box .box i {
  font-size: 1.7rem;
  margin: .5rem;
  color: #6C55E0;
}

.contact .contact-container .con-left-box .box h2 {
  font-size: 1.5rem;
}

.contact .contact-container .con-left-box .box h2 p {
  font-size: .7rem;
  text-align: left;
}

.contact .contact-container .con-right-box {
  padding-left: 1rem;
  width: 40%;
  margin-top: 2rem;
}

.contact .contact-container .con-right-box form {
  width: 100%;
  height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 2rem;
}

.contact .contact-container .con-right-box form .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .contact-container .con-right-box form .box #name {
  outline: none;
  width: 45%;
  height: 5rem;
  border-radius: .5rem;
  border: none;
  background-color: #E7E4F3;
  padding-left: 1rem;
}

.contact .contact-container .con-right-box form .box #email {
  outline: none;
  width: 45%;
  background-color: #E7E4F3;
  height: 5rem;
  border-radius: .5rem;
  border: none;
  padding-left: 1rem;
}

.contact .contact-container .con-right-box form #project {
  outline: none;
  background-color: #E7E4F3;
  padding-left: 1rem;
  height: 5rem;
  border-radius: .5rem;
  border: none;
}

.contact .contact-container .con-right-box #message {
  padding-left: 1rem;
  outline: none;
  background-color: #E7E4F3;
  width: 100%;
  height: 10rem;
  border-radius: .5rem;
  border: none;
}

.contact .contact-container .con-right-box .btn {
  width: 10rem;
  height: 3rem;
  background-color: #6C55E0;
}

@media (max-width: 1050px) {
  .contact .contact-container {
    padding-left: 2rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .contact .contact-container .con-right-box {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 50%;
    margin-left: 5rem;
  }
}

@media (max-width: 750px) {
  .contact .contact-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 55rem;
  }
  .contact .contact-container .con-left-box {
    width: 100%;
    height: 20rem;
  }
  .contact .contact-container .con-left-box .box h2 {
    font-size: 2rem;
  }
  .contact .contact-container .con-left-box .box h2 p {
    font-size: 1rem;
  }
  .contact .contact-container .con-left-box .box i {
    font-size: 2rem;
  }
  .contact .contact-container .con-right-box {
    width: 100%;
    height: 40rem;
    margin-left: 0;
    margin-top: 0rem;
    padding: 10px;
  }
  .contact .contact-container .con-right-box form {
    width: 100%;
    height: 35rem;
  }
  .contact .contact-container .con-right-box form .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 11rem;
    width: 100%;
  }
  .contact .contact-container .con-right-box form .box #name {
    width: 100%;
  }
  .contact .contact-container .con-right-box form .box #email {
    width: 100%;
  }
}

#footer {
  width: 100%;
  height: auto;
  background-color: #6C55E0;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
}

#footer .footer-container {
  height: 25rem;
  width: 65%;
}

#footer .footer-container .f-box-1 {
  height: 20rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#footer .footer-container .f-box-1 .social {
  width: 11rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 15%;
}

#footer .footer-container .f-box-1 .social a {
  text-decoration: none;
  color: white;
}

#footer .footer-container .f-box-1 .social a .uil {
  width: 9rem;
  font-size: 1.6rem;
}

#footer .footer-container .f-box-1 .f-detail {
  padding-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#footer .footer-container .f-box-1 .f-detail h1 {
  font-weight: bold;
}

#footer .footer-container .f-box-1 .f-detail h1 p {
  font-weight: 100;
  margin-top: 1rem;
  font-size: 1rem;
}

#footer .footer-container .f-box-1 .f-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 22rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .footer-container .f-box-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#footer .footer-container .f-box-2 p {
  color: #a291b1;
}

@media (max-width: 900px) {
  #footer {
    height: 20rem;
  }
  #footer .footer-container {
    width: 80%;
  }
}

@media (max-width: 750px) {
  #footer {
    margin-top: 5rem;
    height: 40rem;
  }
  #footer .footer-container {
    height: 35rem;
    width: 80%;
  }
  #footer .footer-container .f-box-1 {
    height: 70%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #footer .footer-container .f-box-1 .f-detail {
    padding-top: 0;
    height: auto;
  }
  #footer .footer-container .f-box-1 .f-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 10rem;
  }
  #footer .footer-container .f-box-1 .social {
    width: 40%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #footer .footer-container .f-box-2 {
    height: 8rem;
  }
}

* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FAFAFD;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: 12vh;
  background-color: #FAFAFD;
  border-bottom: 1px solid rgba(0, 0, 0, 0.041);
  z-index: 2;
  position: fixed;
  top: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header h1 {
  font-size: 2rem;
}

.header .header-inside {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header #ul-box {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header #ul-box li {
  list-style-type: none;
  font-size: 1.1rem;
  color: #25242cd5;
}

.header #ul-box a {
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  text-decoration: none;
  color: #25242cd5;
  font-weight: 550;
}

.header #ul-box a:hover {
  color: #6C55E0;
}

.header .ham-box {
  margin-left: 2rem;
}

.home {
  width: 100%;
  height: 85vh;
  overflow-x: hidden;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.home .social-media {
  width: 10%;
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.home .social-media .fa-github, .home .social-media .fa-instagram, .home .social-media .fa-linkedin {
  color: #6C55E0;
}

.home .all-data {
  width: 80%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home .intro {
  width: 40%;
  height: auto;
  position: relative;
}

.home .intro h1 {
  font-weight: 600;
}

.home .intro .btn {
  background-color: #6C55E0;
  border: 1px solid transparent;
}

.home .intro h5 {
  cursor: pointer;
  color: #6C55E0;
  position: absolute;
  bottom: -8rem;
}

.home .profile-pic {
  width: 40%;
  margin-left: 5em;
}

.home .profile-pic .svg-img {
  width: 70%;
  fill: #6C55E0;
}

.home .profile-pic .img-blob {
  width: 20rem;
  height: 15rem;
}

.mob-bar {
  display: none;
}

.About {
  width: 100%;
  margin-top: 3rem;
  height: auto;
  overflow-x: hidden;
}

.About h1, .About p {
  text-align: center;
}

.About .about-content {
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.About .about-content .aboutleft-side {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.About .about-content .aboutleft-side .imgbox {
  width: 50%;
  height: 15rem;
  border-radius: .3rem;
  background-image: url(../image/anandonbridge.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 2rem;
}

.About .about-content .aboutright-side {
  padding: 2rem 0rem 0rem .2rem;
}

.About .about-content .aboutright-side p {
  width: 22rem;
  font-weight: 500;
}

.About .about-content .aboutright-side .experience-box {
  width: 80%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.About .about-content .aboutright-side .experience-box .exp {
  width: 5rem;
  height: auto;
}

.About .about-content .aboutright-side .experience-box .exp p {
  width: 1rem;
  font-size: 1rem;
}

.About .about-content .aboutright-side #but {
  margin-top: 2rem;
  margin-bottom: .3rem;
  background-color: #6C55E0;
}

.About .about-content .aboutright-side #arrowup {
  padding: .2rem .3rem;
  border: none;
  background-color: #6C55E0;
  color: #FAFAFD;
  border-radius: .2rem;
  outline: none;
  float: right;
  margin-right: 2rem;
}

.About .about-content .aboutright-side .space {
  display: none;
}

.skill {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  margin-top: 10rem;
}

.skill h1, .skill p {
  text-align: center;
}

.skill .skill-box {
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (400px)[2];
      grid-template-columns: repeat(2, 400px);
  gap: 3rem;
  padding: 3rem 0rem 0rem 9rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.skill .skill-box .sbox #Sicon, .skill .skill-box .sbox #fbtn, .skill .skill-box .sbox #secbtn, .skill .skill-box .sbox #thbtn {
  color: #6C55E0;
  cursor: pointer;
}

.skill .skill-box .sbox h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.skill .skill-box .sbox h6 {
  text-align: center;
}

.skill .skill-box .sbox .progress-box {
  width: 100%;
  height: auto;
  padding: 1rem 1rem 0rem 3rem;
}

.skill .skill-box .sbox .progress-box h5 {
  margin: 1rem;
}

.skill .skill-box .sbox .progress-box .progress .progress-bar {
  background-color: #6C55E0;
}

.skill .skill-box .sbox1, .skill .skill-box .sbox2, .skill .skill-box .sbox3 {
  height: 5rem;
  overflow: hidden;
}

.unknown {
  width: 100%;
  height: 50rem;
  background-color: aqua;
}
/*# sourceMappingURL=style.css.map */